{% extends "base.html" %}

{% block style %}
.custom-rounded {
  border-radius: 10px;
}
.bg-opacity {
  background-color: rgba(0, 0, 0, 0.5); /* Black color with 70% opacity */
  color: white; /* Text color */
}
{% endblock %}
{% block content %}
<div class="container w-25 text-center  p-3 bg-opacity custom-rounded ">
<div class="container bg-dark p-3 text-white">
  <h2>Sign Up</h2>
  <form>
      <form action="register" method="POST">
    <div class="form-group">
      <label for="firstName">First Name:</label>
      <input type="text" class="form-control" id="firstName" placeholder="Enter first name">
    </div>
    <div class="form-group">
      <label for="lastName">Last Name:</label>
      <input type="text" class="form-control" id="lastName" placeholder="Enter last name">
    </div>
    <div class="form-group">
      <label for="username">Username:</label>
      <input type="text" class="form-control" id="username" placeholder="Enter username">
    </div>
    <div class="form-group">
      <label for="mobile">Mobile:</label>
      <input type="text" class="form-control" id="mobile" placeholder="Enter mobile number">
    </div>
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" class="form-control" id="email" placeholder="Enter email">
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" class="form-control" id="password" placeholder="Enter password">
    </div>
    <div class="form-group">
      <label for="confirmPassword">Confirm Password:</label>
      <input type="password" class="form-control" id="confirmPassword" placeholder="Confirm password">
    </div>
    <div class="form-group">
      <label for="dob">Date of Birth:</label>
      <input type="date" class="form-control" id="dob">
    </div>
    <button type="submit" class="btn btn-warning">Sign Up</button>
    <a href="{% url 'myapp:sign' %}" class="btn btn-primary">Sign In</a>

  </form>
      </form>
</div>
</div>
{% endblock %}